/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
 aside, nav, section, footer, header, main {
  display: block;
}
html, body, h1, h2, h3, ul, li, a, p,
nav, aside, section, footer, header, main {
  padding: 0;
  margin: 0;
}
 html {
    color: #00FFFF;  
    background-image: url(/img/cloudy-background.gif);
    background-size: 100%;
    border-style: none; /* Why is there a border on this image? */
    border-radius: 0px;
    border: 0px;
   font-family: Univers, Oswald, Verdana, Roboto, sans-serif;
}
   
body {
  width: 900px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-size: 15px;
  z-index: 1;
}

#fixed-navbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 900px;
  height: 90px;
  background-image: url(/img/monkaa_monkeyhang.jpg);
  background-size: 900px 120px;
  background-repeat: no-repeat;
  border-style: hidden;
  border-width: 5px;
  border-radius: 25px;
}

#social-navbar {
  padding: 2px;
  border: 5px solid yellow;
  position: fixed;
  right: 100px;
  top: 0px;
  z-index: 9999;
  width: 100px;
  height: auto;
  background-color: #73AD21;
  border-radius: 25px;
}

#social-navbar nav ul li {
  padding: 0;
}

.main-nav {
  text-align: center;
  padding-top: 30px;
}

header {
  margin-top: 90px;
  width: 900px;
  height: 250px;
  background-color: #00a087;
  background-image: url(/img/official_header.jpg);
  background-size: 100%;
  background-color: #2bb8ff;
  border-radius: 25px;
}

h5 {
  padding: 0px;
  margin: 0px;
}

#non-header {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
}

/*video#flying-monkey-loop {
  top: 0px; 
  left: 0px; 
  min-width: 100%; 
  min-height: 100%;
  z-index: -2; // Put the video behind all other elements
}*/

nav {

}

nav ul li {
  display: inline;
  width: 100%;
  padding: 20px;
}

section {
}

.subtitle {
}

#watch {

}

.download-button {
  
}

.social-links {
  
}

#download {
  width: 420px;
  float: left;
  padding: 5px;
}

#listen {
  width: 420px;
  float: right;
  padding: 5px;
}

#listen audio {
  padding: 4px;
}

#about {
  clear: both;
  padding: 5px;
  margin-top: -50px;
  padding-top: 50px;
  padding-left: 15px;
}

.lead {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 120%;
}

.weybec-people {
  
}

.headshot {
  width: 300px;
  height: auto;  
}

footer {
  padding: 15px;
  background-image: url(/img/monkaa_monkeyhang.jpg);
  background-size: 900px 120px;
  background-repeat: no-repeat;
  border: 5px solid orange;
  border-radius: 25px;
}

a {
  font-family: 'Ubuntu', sans-serif;
}

a:link {
  color: #FF1493;
}

a:visited {
  color: darkmagenta;
}